
.new-btn {
    padding: 10px 13px; 
    text-decoration: none; 
    font-size: 18px;
     margin-bottom: 7px;
      border-radius: 4px;
}
label {
    font-size: 18px;
    color: #333;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 17px !important;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
} 
h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
h5 {
    font-size: 20px !important;
    color: #333;
}
h6 {
    font-size: 18px;
    color: #333;
}
a {
    text-decoration: none;
}
.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
th {
    font-size: 20px;
    text-align: center;
 }
 td {
    font-size: 18px;
    padding: 1.5rem 0.5rem !important;
    text-align: center;
 }
*::-webkit-scrollbar-thumb {
    background: #888 !important;
}
